<div class="row mt-4 justify-content-around">
    <div class="card col-sm-6 col-md-3" style="width: 18rem;">
  <img class="card-img-top" src="https://icdn4.digitaltrends.com/image/rocket-league-2-720x720.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Car Race</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="container-fluid"><h4 class="heading-6" style="display:inline">Total Price: 12$</h4><a href="#" class="btn btn-sm btn-success float-right"><span>Buy Now</span></a></div>
  </div>
</div>
    <div class="card col-sm-6 col-md-3 " style="width: 18rem;">
  <img class="card-img-top" src="https://icdn4.digitaltrends.com/image/rocket-league-2-720x720.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Car Race</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="container-fluid"><h4 class="heading-6" style="display:inline">Total Price: 12$</h4><a href="#" class="btn btn-sm btn-success float-right"><span>Buy Now</span></a></div>
  </div>
</div>
    <div class="card col-sm-6 col-md-3 " style="width: 18rem;">
  <img class="card-img-top" src="https://icdn4.digitaltrends.com/image/rocket-league-2-720x720.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Car Race</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="container-fluid"><h4 class="heading-6" style="display:inline">Total Price: 12$</h4><a href="#" class="btn btn-sm btn-success float-right"><span>Buy Now</span></a></div>
  </div>
</div>
</div>
<div class="row mt-4 justify-content-around">
    <div class="card col-sm-6 col-md-3" style="width: 18rem;">
  <img class="card-img-top" src="https://icdn4.digitaltrends.com/image/rocket-league-2-720x720.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Car Race</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="container-fluid"><h4 class="heading-6" style="display:inline">Total Price: 12$</h4><a href="#" class="btn btn-sm btn-success float-right"><span>Buy Now</span></a></div>
  </div>
</div>
    <div class="card col-sm-6 col-md-3 " style="width: 18rem;">
  <img class="card-img-top" src="https://icdn4.digitaltrends.com/image/rocket-league-2-720x720.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Car Race</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="container-fluid"><h4 class="heading-6" style="display:inline">Total Price: 12$</h4><a href="#" class="btn btn-sm btn-success float-right"><span>Buy Now</span></a></div>
  </div>
</div>
    <div class="card col-sm-6 col-md-3 " style="width: 18rem;">
  <img class="card-img-top" src="https://icdn4.digitaltrends.com/image/rocket-league-2-720x720.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Car Race</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="container-fluid"><h4 class="heading-6" style="display:inline">Total Price: 12$</h4><a href="#" class="btn btn-sm btn-success float-right"><span>Buy Now</span></a></div>
  </div>
</div>
</div>
<div class="row mt-4 justify-content-around">
    <div class="card col-sm-6 col-md-3" style="width: 18rem;">
  <img class="card-img-top" src="https://icdn4.digitaltrends.com/image/rocket-league-2-720x720.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Car Race</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="container-fluid"><h4 class="heading-6" style="display:inline">Total Price: 12$</h4><a href="#" class="btn btn-sm btn-success float-right"><span>Buy Now</span></a></div>
  </div>
</div>
    <div class="card col-sm-6 col-md-3 " style="width: 18rem;">
  <img class="card-img-top" src="https://icdn4.digitaltrends.com/image/rocket-league-2-720x720.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Car Race</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="container-fluid"><h4 class="heading-6" style="display:inline">Total Price: 12$</h4><a href="#" class="btn btn-sm btn-success float-right"><span>Buy Now</span></a></div>
  </div>
</div>
    <div class="card col-sm-6 col-md-3 " style="width: 18rem;">
  <img class="card-img-top" src="https://icdn4.digitaltrends.com/image/rocket-league-2-720x720.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Car Race</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="container-fluid"><h4 class="heading-6" style="display:inline">Total Price: 12$</h4><a href="#" class="btn btn-sm btn-success float-right"><span>Buy Now</span></a></div>
  </div>
</div>
</div>